
 

.edit{
    justify-content: right;
}
p{
    font-size: medium;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
img .bnav{
    justify-content: left;
}
footer {
    background-color: #92DDFF;
    text-align: center;
    padding: 5px 0;
    font-family: "Playfair Display", sans-serif;
}
img .home{
    text-align: center;
    justify-content: center;
}